:root {
  --dark: rgba(43, 42, 42, 1);
  --course: rgba(255, 166, 0, 1);
  --light: #fff;
}

body {
  background-color: var(--dark);
  color: var(--course);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
}
main {
  max-width: 800px;
  margin: 10vh auto;
} 
header {
  color: var(--dark);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main > div > label {
  padding: 1em;
  background-color: rgba(255, 166, 0, 1);
  color: rgba(43, 42, 42, 1);
  border-radius: 10px;
}

main > div > input {
  position: absolute;
  left: -100vw;
} */

header #sunnyWeather:target {
  animation: sunnyWeather 1s !important;
  animation-fill-mode: forwards !important;
}
section #rainyWeather:target {
  animation: rainyWeather 1s !important;
  animation-fill-mode: forwards !important;
}
section #thunderWeather:target {
  animation: thunderWeather 1s !important;
  animation-fill-mode: forwards !important;
}
body #snowyColoured:target {
  animation: snowyWeather 1s !important;
  animation-fill-mode: forwards !important;
}

/* #sunnyButton:checked ~ header {
  animation: sunnyWeather 1s;
  animation-fill-mode: forwards;
}

#rainyButton:checked ~ header {
  animation: rainyWeather 1s;
  animation-fill-mode: forwards;
} */

h1 {
  font-size: 5em;
}
/* h1:hover {
  animation: shakingText 1s infinite;
} */

h2 {
  font-size: 2em;
  margin-top: 1.5em;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 -1rem;
}
ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}
ul img {
  border: 2px solid var(--light);
  margin-top: 2em;
  margin-bottom: 2em;
}
img {
  max-width: 100%;
}

section#lecturers img {
  border-radius: 100%;
  margin-right: 1em;
}

.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}

.examples img {
  max-width: 25vh;
}

a {
  color: var(--course);
}


/* a, a:visited {
  color: transparent;
  font-size: 1.75em;
  text-shadow: 0 0 2px rgba(255,165,0,0.5);
  text-align: center;
} */

a:hover {
  animation: growingWords 2000s infinite;
}

footer {
  font-style: italic;
}

@keyframes shakingText {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform : scale(1) rotate(-10deg);
    color : transparent;
    text-shadow: 0 0 5px rgba(33,33,33,0.5);
  }
  33% {
    transform : scale(1.5em) rotate(-10deg);
    color : black;
    text-shadow: none;
  }
  50% {
    transform: rotate(10deg);
  }
  66% {
    transform: scale(1) rotate(10deg);
    color: transparent;
    text-shadow: 0 0 5px rgba(33,33,33,0.5);
  }
  100% {
    transform: scale(1) rotate(0deg);
    color: black;
    text-shadow: none;
  }
}

@keyframes sunnyWeather {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: rgba(255,165,0,1);
  }
}
@keyframes rainyWeather {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: rgba(75, 119, 190, 1);
  }
}
@keyframes thunderWeather {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: rgba(103, 65, 114, 1);
  }
}
@keyframes snowyWeather {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: rgba(232, 236, 241, 1);
  }
}